.apiarys {
    color: #3A3637;
}

.apiarys__header {
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px #3A3637 solid;
}

.apiarys__list {
    margin: 1rem;
    list-style-type: none;

}

.apiarys__sort {
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.4rem;
    flex-direction: row-reverse;
}

.apiarys__sort--element {
    width: 50%;
    text-align: center;
    padding: 0.7rem 0;
    background-color: #3A3637;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
}

.apiarys__sort--button {
    width: 50%;
    text-align: center;
    padding: 0.7rem 0;
    background-color: #3A3637;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.apiarys__sort--button svg {
    font-size: 30px;
}